// Buttons
.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

// Top navbar
#navbar {
  border: 0;
  border-radius: 0;

  .region-navigation-collapsible {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: bold;

    li > a,
    li > a:focus {
      color: $gray-light;
    }

    li > a:hover,
    li > a:focus:hover {
      color: $link-hover-color;
    }

    li.active > a,
    li.active > a:focus {
      color: $link-hover-color !important;
      background-color: transparent;
    }

    li.active > a:hover,
    li.active > a:focus:hover {
      background-color: transparent;
    }
  }
}

// Header Image
#header-image {
  .fullscreen {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .header-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: $gray-lighter;

    .field--name-field-intitule,
    .field--name-field-title {
      font-size: $font-size-h1;
      text-transform: uppercase;
    }

    .field--name-body {
      padding-top: 30px;
      font-family: $headings-font-family;
      font-size: $font-size-h4;
    }
  }

  .header-image-next {
    .btn-default {
      background-color: transparent;
      color: $gray-lighter;
    }
  }

  .header-image-next {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
  }
}

// View - articles
.view-articles {
  article {
    margin: 10px auto;
    padding: 10px;
    background-color: $gray-lighter-plus;
    display: flex;

    > div {
      padding: 0 10px;
    }

    h2 {
      margin: 0;
    }

    .author {
      font-style: italic;
      padding-bottom: 10px;
    }
  }

  // Pager
  .pager {
    li {
      > a,
      > span {
        background-color: $link-color;
      }

      > a:hover,
      > a:focus {
        background-color: $link-hover-color;
      }
    }
  }
}

// view
.view .more-link {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  text-align: center;
}
