// Buttons
.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

// Top navbar
#navbar {
  .region-navigation-collapsible {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: bold;

    li > a,
    li > a:focus {
      color: $gray-light;
    }

    li > a:hover,
    li > a:focus:hover {
      color: $link-hover-color;
    }

    li.active > a,
    li.active > a:focus {
      color: $link-hover-color !important;
      background-color: transparent;
    }

    li.active > a:hover,
    li.active > a:focus:hover {
      background-color: transparent;
    }
  }
}
