// Footer
footer.footer,
div.subfooter {
  margin-top: 40px;
  margin-bottom: 0;
  background-color: $gray-dark;
  color: $gray-light;
  padding: 15px;

  h2 {
    font-size: $font-size-h4;
    text-transform: uppercase;
  }


  .view-footer, .more-link {
    margin-top: 30px;
  }

  section#block-blocmarinedufooter {
    .field--name-field-image {
      margin-left: 10px;
    }

    .field--name-body {
      color: $gray-lighter;
      text-align: right;
    }
  }
}
