// Default variables.
@import "default-variables";

// Header - Affix (only when header-image is present)
#navbar.affix,
#navbar.affix-top {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

#navbar.affix-top {
  background-color: transparent;
  border-bottom: 1px solid $gray-lighter;
  color: $gray-lighter;

  a.navbar-brand {
    font-size: ceil(($font-size-base * 2));
    font-weight: normal;
    color: $gray-lighter;
  }

  .region-navigation-collapsible li > a {
    font-size: $font-size-large;
    font-weight: normal;
    color: $gray-lighter;
  }

  .region-navigation-collapsible li > a:hover,
  .region-navigation-collapsible li > a:focus:hover {
    color: $link-hover-color;
  }
}
