// Default variables.
@import "default-variables";

// Header - Affix (only when header-image is present)
#navbar.affix,
#navbar.affix-top {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

#navbar.affix-top {
  background-color: transparent;
  color: $gray-dark;
}
