// Only on OnePage
// Default variables.
@import "default-variables";

// Formation
article.formation.full {
  .diplome-title {
    width: 100%;
    font-family: $headings-font-family;
    color: $brand-primary;
    text-transform: uppercase;
    border-bottom: 1px solid $brand-primary;
  }

  .field--name-field-date {
    font-family: $headings-font-family;
    font-size: $font-size-h5;
    color: $brand-primary;
    text-transform: uppercase;
  }

  .field--name-field-titre {
    font-family: $headings-font-family;
    font-weight: bold;
  }

  .field--name-field-description {
    font-family: $headings-font-family;
    color: $gray;
  }
}
