// Only on OnePage
// Default variables.
@import "default-variables";

body.path-frontpage {
  margin-top: 0;
}

#header-image {
  // Carousel
  .carousel-full {
    .header-image-text {
      position: absolute;
      top: 20%;
      left: 20%;
      z-index: 100;
      color: $gray-lighter;

      .field--name-field-intitule {
        font-size: $font-size-h1;
        text-transform: uppercase;
      }

      .field--name-body {
        padding-top: 30px;
        font-family: $headings-font-family;
        font-size: $font-size-h4;
      }
    }

    .header-image-next {
      .btn-default {
        background-color: transparent;
        color: $gray-lighter;
      }
    }

    .header-image-next {
      position: absolute;
      bottom: 50px;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
    }

    .carousel-inner {
      .item.full-screen {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .item {
        transition-property: opacity;
      }

      .item,
      .item.active.left,
      .item.active.right {
        opacity: 0;
      }

      .item.active,
      .item.next.left,
      .item.prev.right {
        opacity: 1;
      }

      .item.next,
      .item.prev,
      .item.active.left,
      .item.active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

#block-homecv {
  padding-top: 50px;

  > h2.block-title {
    text-align: center;
    margin-bottom: 50px;
    color: $brand-primary;
  }

  div.blockblockone {
    text-align: center;

    .field--name-field-intitule {
      font-family: $headings-font-family;
      font-size: $font-size-h3;
    }
  }

  div.blockblockone:nth-child(1) {
    .field--name-field-icone-svg svg {
      fill: $color1;
    }

    .field--name-field-intitule {
      color: $color1;
    }
  }

  div.blockblockone:nth-child(2) {
    .field--name-field-icone-svg svg {
      fill: $color2;
    }

    .field--name-field-intitule {
      color: $color2;
    }
  }

  div.blockblockone:nth-child(3) {
    .field--name-field-icone-svg svg {
      fill: $color3;
    }

    .field--name-field-intitule {
      color: $color3;
    }
  }

  div.blockblockone:nth-child(4) {
    .field--name-field-icone-svg svg {
      fill: $color4;
    }

    .field--name-field-intitule {
      color: $color4;
    }
  }

  .view-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
}
