// Only on OnePage
// Default variables.
@import "default-variables";

body.path-frontpage,
body.path-cv {
  margin-top: 0;
}

#header-image {
  // Carousel
  .carousel-full {
    .header-image-next {
      position: absolute;
      bottom: 50px;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
    }

    .carousel-inner {
      padding: 0;

      .item.fullscreen {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .item {
        transition-property: opacity;
      }

      .item,
      .item.active.left,
      .item.active.right {
        opacity: 0;
      }

      .item.active,
      .item.next.left,
      .item.prev.right {
        opacity: 1;
      }

      .item.next,
      .item.prev,
      .item.active.left,
      .item.active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

#block-homecv,
#block-cv-formation,
#block-cv-competences {
  background-color: $brand-primary-lighter;
  margin-right: -45px;
  margin-left: -45px;
  padding: 0 45px;
}

#block-cv-competences {
  background-color: $gray-lighter-plus;
}

#block-homecv,
#block-homeblog,
#block-cv-competences,
#block-cv-experience-professionnelle,
#block-cv-formation,
#block-cv-loisirs {
  padding-top: 50px;

  > h2.block-title {
    text-align: center;
    margin-bottom: 50px;
    color: $brand-primary;
  }

  div.blockblockone {
    text-align: center;

    > div {
      max-width: 300px;
      margin: auto;
    }

    .field--name-field-intitule,
    h3.block-title {
      min-height: 70px;
      font-family: $headings-font-family;
      font-size: $font-size-h3;
    }

    article.societe {
      min-height: 100px;

      img {
        margin: auto;
      }
    }
  }

  .view-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
}

#block-homecv {
  div.blockblockone:nth-child(1) {
    .field--name-field-icone-svg svg {
      fill: $color1;
    }

    .field--name-field-intitule {
      color: $color1;
    }
  }

  div.blockblockone:nth-child(2) {
    .field--name-field-icone-svg svg {
      fill: $color2;
    }

    .field--name-field-intitule {
      color: $color2;
    }
  }

  div.blockblockone:nth-child(3) {
    .field--name-field-icone-svg svg {
      fill: $color3;
    }

    .field--name-field-intitule {
      color: $color3;
    }
  }

  div.blockblockone:nth-child(4) {
    .field--name-field-icone-svg svg {
      fill: $color4;
    }

    .field--name-field-intitule {
      color: $color4;
    }
  }
}

#block-cv-competences {
  div.blockblockone:nth-child(1) {
    .field--name-field-icone-svg svg {
      fill: $colordrupal;
    }

    .field--name-field-intitule {
      color: $colordrupal;
    }
  }

  div.blockblockone:nth-child(2) {
    .field--name-field-icone-svg svg {
      fill: $color1;
    }

    .field--name-field-intitule {
      color: $color1;
    }
  }

  div.blockblockone:nth-child(3) {
    .field--name-field-icone-svg svg {
      fill: $color4;
    }

    .field--name-field-intitule {
      color: $color4;
    }
  }
}

#block-cv-experience-professionnelle {
  .view-content {
    width: 450px;
    margin: auto;
    position: relative;
  }

  .timelife-line {
    position: relative;
    width: 450px;

    ::before {
      position: absolute;
      z-index: -1;
      content: '';
      width: 0;
      top: 100px;
      bottom: 100px;
      left: 50px; // change in media
      border: 1px solid $brand-primary;
    }
  }

  div.timelife {
    width: 450px; // change in media
    margin: auto;

    > article {
      width: 450px;
      height: 200px;
      margin-left: 0; // change in media
      display: flex;
      align-items: center;

      .timelife-image {
        width: 100px; // change in media
        height: 100px; // change in media
        background-color: $brand-primary-lighter;
        border: 1px solid $brand-primary;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin: auto;
          max-width: 80px;
          max-height: 80px;
        }
      }

      .timelife-text {
        width: 300px;
        padding-left: 10px;
        padding-right: 0;
        color: $gray_light;

        h4 {
          margin: 0;
          color: $brand-primary;
          text-transform: uppercase;
          font-weight: bold;
        }

        .timelife-date {
          font-family: $headings-font-family;
          color: $brand-primary;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
      }
    }
  }

  div.timelife.timelife-right > article {
    margin-left: 0;
    flex-direction: row;

    .timelife-text {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  @media (min-width: $screen-sm-min) {
    .view-content {
      width: 750px;
      margin: auto;
      position: relative;
    }

    .timelife-line {
      margin: auto;
      width: 750px;
      position: relative;

      ::before {
        left: 50%; // change in media
      }
    }

    div.timelife {
      width: 750px;
      margin: auto;

      > article {
        width: 450px;
        margin-left: 300px;
        display: flex;
        align-items: center;

        .timelife-image {
          width: 150px;
          height: 150px;

          img {
            max-width: 100px;
            max-height: 100px;
          }
        }
      }
    }

    div.timelife.timelife-right > article {
      margin-left: 0;
      flex-direction: row-reverse;
      text-align: right;

      .timelife-text {
        padding-left: 0;
        padding-right: 10px;
      }
    }
  }
}

#block-cv-formation {
  div.blockblockone > article {
    margin-top: 15px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: $gray-lighter;
  }
}

#block-cv-loisirs {
  div.blockblockone {
    .views-field-rendered-entity {
      width: 180px;
      height: 180px;
      margin: auto;
      border-radius: $border-radius-small;
      padding-top: 10px;

      h3 {
        color: $gray-lighter;
      }

      svg {
        fill: $gray-lighter;
      }
    }

    .views-field-view {
      margin-top: 10px;

      .view-content {
        display: flex;
        justify-content: center;

        > div {
          margin: 3px;
          padding: 3px;
          border: 1px solid;
          border-radius: $border-radius-small;
        }
      }
    }
  }

  div.blockblockone:nth-child(1) {
    .views-field-rendered-entity {
      background-color: $color1;
    }

    .views-field-view .view-content > div {
      color: $color1;
      border-color: $color1;
    }
  }

  div.blockblockone:nth-child(2) {
    .views-field-rendered-entity {
      background-color: $color2;
    }

    .views-field-view .view-content > div {
      color: $color2;
      border-color: $color2;
    }
  }

  div.blockblockone:nth-child(3) {
    .views-field-rendered-entity {
      background-color: $color3;
    }

    .views-field-view .view-content > div {
      color: $color3;
      border-color: $color3;
    }
  }

  div.blockblockone:nth-child(4) {
    .views-field-rendered-entity {
      background-color: $color4;
    }

    .views-field-view .view-content > div {
      color: $color4;
      border-color: $color4;
    }
  }
}
