// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// Tests
.region-content {
  background-color: red;
  min-height: 1000px;
}

// Header & Footer - colors
#navbar,
#footer,
#subfooter {
  background-color: $gray-dark;
  color: $gray-lighter;
}
