/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
/* line 5, ../scss/affix.scss */
#navbar.affix,
#navbar.affix-top {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* line 13, ../scss/affix.scss */
#navbar.affix-top {
  background-color: transparent;
  color: #333333;
}
