/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
@import url(http://fonts.googleapis.com/css?family=amily=Montserrat:100,400,700|Roboto+Slab:100,300,400,700:100,400,700);
/* line 5, ../scss/affix.scss */
#navbar.affix,
#navbar.affix-top {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

/* line 16, ../scss/affix.scss */
#navbar.affix-top {
  background-color: transparent;
  border-bottom: 1px solid #777777;
}
/* line 20, ../scss/affix.scss */
#navbar.affix-top a.navbar-brand {
  font-size: 28px;
  font-weight: normal;
}
/* line 25, ../scss/affix.scss */
#navbar.affix-top .region-navigation-collapsible li > a {
  font-size: 18px;
  font-weight: normal;
}
/* line 30, ../scss/affix.scss */
#navbar.affix-top .region-navigation-collapsible li > a:hover,
#navbar.affix-top .region-navigation-collapsible li > a:focus:hover {
  color: #7895a2;
}
