/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
@import url(http://fonts.googleapis.com/css?family=amily=Montserrat:100,400,700|Roboto+Slab:100,300,400,700:100,400,700);
/* line 7, ../scss/formation.scss */
article.formation.full .diplome-title {
  width: 100%;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: #546e7a;
  text-transform: uppercase;
  border-bottom: 1px solid #546e7a;
}
/* line 15, ../scss/formation.scss */
article.formation.full .field--name-field-date {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #546e7a;
  text-transform: uppercase;
}
/* line 22, ../scss/formation.scss */
article.formation.full .field--name-field-titre {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
/* line 27, ../scss/formation.scss */
article.formation.full .field--name-field-description {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: #555555;
}
