/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
@import url(http://fonts.googleapis.com/css?family=amily=Montserrat:100,400,700|Roboto+Slab:100,300,400,700:100,400,700);
/* line 5, ../scss/onepage.scss */
body.path-frontpage {
  margin-top: 0;
}

/* line 12, ../scss/onepage.scss */
#header-image .carousel-full .header-image-next {
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}
/* line 20, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner {
  padding: 0;
}
/* line 23, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item.fullscreen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 29, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item {
  transition-property: opacity;
}
/* line 33, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item,
#header-image .carousel-full .carousel-inner .item.active.left,
#header-image .carousel-full .carousel-inner .item.active.right {
  opacity: 0;
}
/* line 39, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item.active,
#header-image .carousel-full .carousel-inner .item.next.left,
#header-image .carousel-full .carousel-inner .item.prev.right {
  opacity: 1;
}
/* line 45, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item.next,
#header-image .carousel-full .carousel-inner .item.prev,
#header-image .carousel-full .carousel-inner .item.active.left,
#header-image .carousel-full .carousel-inner .item.active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

/* line 56, ../scss/onepage.scss */
#block-homecv,
#block-homeblog {
  padding-top: 50px;
}
/* line 60, ../scss/onepage.scss */
#block-homecv > h2.block-title,
#block-homeblog > h2.block-title {
  text-align: center;
  margin-bottom: 50px;
  color: #546e7a;
}
/* line 66, ../scss/onepage.scss */
#block-homecv div.blockblockone,
#block-homeblog div.blockblockone {
  text-align: center;
}
/* line 69, ../scss/onepage.scss */
#block-homecv div.blockblockone > div,
#block-homeblog div.blockblockone > div {
  max-width: 300px;
}
/* line 73, ../scss/onepage.scss */
#block-homecv div.blockblockone .field--name-field-intitule,
#block-homeblog div.blockblockone .field--name-field-intitule {
  min-height: 70px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 24px;
}
/* line 81, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(1) .field--name-field-icone-svg svg,
#block-homeblog div.blockblockone:nth-child(1) .field--name-field-icone-svg svg {
  fill: #9ccc65;
}
/* line 85, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(1) .field--name-field-intitule,
#block-homeblog div.blockblockone:nth-child(1) .field--name-field-intitule {
  color: #9ccc65;
}
/* line 91, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(2) .field--name-field-icone-svg svg,
#block-homeblog div.blockblockone:nth-child(2) .field--name-field-icone-svg svg {
  fill: #26a69a;
}
/* line 95, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(2) .field--name-field-intitule,
#block-homeblog div.blockblockone:nth-child(2) .field--name-field-intitule {
  color: #26a69a;
}
/* line 101, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(3) .field--name-field-icone-svg svg,
#block-homeblog div.blockblockone:nth-child(3) .field--name-field-icone-svg svg {
  fill: #29b6f6;
}
/* line 105, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(3) .field--name-field-intitule,
#block-homeblog div.blockblockone:nth-child(3) .field--name-field-intitule {
  color: #29b6f6;
}
/* line 111, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(4) .field--name-field-icone-svg svg,
#block-homeblog div.blockblockone:nth-child(4) .field--name-field-icone-svg svg {
  fill: #5c6bc0;
}
/* line 115, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(4) .field--name-field-intitule,
#block-homeblog div.blockblockone:nth-child(4) .field--name-field-intitule {
  color: #5c6bc0;
}
/* line 120, ../scss/onepage.scss */
#block-homecv .view-footer,
#block-homeblog .view-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 127, ../scss/onepage.scss */
#block-homecv {
  background-color: #e2e8eb;
  margin-right: -45px;
  margin-left: -45px;
  padding: 0 45px;
}
