/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
@import url(http://fonts.googleapis.com/css?family=amily=Montserrat:100,400,700|Roboto+Slab:100,300,400,700:100,400,700);
/* line 8, ../scss/onepage.scss */
#header-image .carousel-full .header-image-next {
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}
/* line 16, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner {
  padding: 0;
}
/* line 19, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item.fullscreen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 25, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item {
  transition-property: opacity;
}
/* line 29, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item,
#header-image .carousel-full .carousel-inner .item.active.left,
#header-image .carousel-full .carousel-inner .item.active.right {
  opacity: 0;
}
/* line 35, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item.active,
#header-image .carousel-full .carousel-inner .item.next.left,
#header-image .carousel-full .carousel-inner .item.prev.right {
  opacity: 1;
}
/* line 41, ../scss/onepage.scss */
#header-image .carousel-full .carousel-inner .item.next,
#header-image .carousel-full .carousel-inner .item.prev,
#header-image .carousel-full .carousel-inner .item.active.left,
#header-image .carousel-full .carousel-inner .item.active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

/* line 52, ../scss/onepage.scss */
#block-homecv,
#block-cv-formation,
#block-cv-competences {
  background-color: #e2e8eb;
  margin-right: -45px;
  margin-left: -45px;
  padding: 0 45px;
}

/* line 61, ../scss/onepage.scss */
#block-cv-competences {
  background-color: #f7f7f7;
}

/* line 65, ../scss/onepage.scss */
#block-homecv,
#block-homeblog,
#block-cv-competences,
#block-cv-experience-professionnelle,
#block-cv-formation,
#block-cv-loisirs {
  padding-top: 50px;
}
/* line 73, ../scss/onepage.scss */
#block-homecv > h2.block-title,
#block-homeblog > h2.block-title,
#block-cv-competences > h2.block-title,
#block-cv-experience-professionnelle > h2.block-title,
#block-cv-formation > h2.block-title,
#block-cv-loisirs > h2.block-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  color: #546e7a;
}
/* line 80, ../scss/onepage.scss */
#block-homecv div.blockblockone,
#block-homeblog div.blockblockone,
#block-cv-competences div.blockblockone,
#block-cv-experience-professionnelle div.blockblockone,
#block-cv-formation div.blockblockone,
#block-cv-loisirs div.blockblockone {
  text-align: center;
}
/* line 83, ../scss/onepage.scss */
#block-homecv div.blockblockone > div,
#block-homeblog div.blockblockone > div,
#block-cv-competences div.blockblockone > div,
#block-cv-experience-professionnelle div.blockblockone > div,
#block-cv-formation div.blockblockone > div,
#block-cv-loisirs div.blockblockone > div {
  max-width: 300px;
  margin: auto;
}
/* line 88, ../scss/onepage.scss */
#block-homecv div.blockblockone .field--name-field-intitule,
#block-homecv div.blockblockone h3.block-title,
#block-homeblog div.blockblockone .field--name-field-intitule,
#block-homeblog div.blockblockone h3.block-title,
#block-cv-competences div.blockblockone .field--name-field-intitule,
#block-cv-competences div.blockblockone h3.block-title,
#block-cv-experience-professionnelle div.blockblockone .field--name-field-intitule,
#block-cv-experience-professionnelle div.blockblockone h3.block-title,
#block-cv-formation div.blockblockone .field--name-field-intitule,
#block-cv-formation div.blockblockone h3.block-title,
#block-cv-loisirs div.blockblockone .field--name-field-intitule,
#block-cv-loisirs div.blockblockone h3.block-title {
  min-height: 70px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 28px;
}
/* line 95, ../scss/onepage.scss */
#block-homecv div.blockblockone article.societe,
#block-homeblog div.blockblockone article.societe,
#block-cv-competences div.blockblockone article.societe,
#block-cv-experience-professionnelle div.blockblockone article.societe,
#block-cv-formation div.blockblockone article.societe,
#block-cv-loisirs div.blockblockone article.societe {
  min-height: 100px;
}
/* line 98, ../scss/onepage.scss */
#block-homecv div.blockblockone article.societe img,
#block-homeblog div.blockblockone article.societe img,
#block-cv-competences div.blockblockone article.societe img,
#block-cv-experience-professionnelle div.blockblockone article.societe img,
#block-cv-formation div.blockblockone article.societe img,
#block-cv-loisirs div.blockblockone article.societe img {
  margin: auto;
}
/* line 104, ../scss/onepage.scss */
#block-homecv .view-footer,
#block-homeblog .view-footer,
#block-cv-competences .view-footer,
#block-cv-experience-professionnelle .view-footer,
#block-cv-formation .view-footer,
#block-cv-loisirs .view-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 112, ../scss/onepage.scss */
#block-homeblog div.more-link {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 121, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(1) .field--name-field-icone-svg svg {
  fill: #9ccc65;
}
/* line 125, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(1) .field--name-field-intitule {
  color: #9ccc65;
}
/* line 131, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(2) .field--name-field-icone-svg svg {
  fill: #26a69a;
}
/* line 135, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(2) .field--name-field-intitule {
  color: #26a69a;
}
/* line 141, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(3) .field--name-field-icone-svg svg {
  fill: #29b6f6;
}
/* line 145, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(3) .field--name-field-intitule {
  color: #29b6f6;
}
/* line 151, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(4) .field--name-field-icone-svg svg {
  fill: #5c6bc0;
}
/* line 155, ../scss/onepage.scss */
#block-homecv div.blockblockone:nth-child(4) .field--name-field-intitule {
  color: #5c6bc0;
}

/* line 163, ../scss/onepage.scss */
#block-cv-competences div.blockblockone:nth-child(1) .field--name-field-icone-svg svg {
  fill: #0077c0;
}
/* line 167, ../scss/onepage.scss */
#block-cv-competences div.blockblockone:nth-child(1) .field--name-field-intitule {
  color: #0077c0;
}
/* line 173, ../scss/onepage.scss */
#block-cv-competences div.blockblockone:nth-child(2) .field--name-field-icone-svg svg {
  fill: #9ccc65;
}
/* line 177, ../scss/onepage.scss */
#block-cv-competences div.blockblockone:nth-child(2) .field--name-field-intitule {
  color: #9ccc65;
}
/* line 183, ../scss/onepage.scss */
#block-cv-competences div.blockblockone:nth-child(3) .field--name-field-icone-svg svg {
  fill: #5c6bc0;
}
/* line 187, ../scss/onepage.scss */
#block-cv-competences div.blockblockone:nth-child(3) .field--name-field-intitule {
  color: #5c6bc0;
}

/* line 194, ../scss/onepage.scss */
#block-cv-experience-professionnelle .view-content {
  width: 450px;
  margin: auto;
  position: relative;
}
/* line 200, ../scss/onepage.scss */
#block-cv-experience-professionnelle .timelife-line {
  position: relative;
  width: 450px;
}
/* line 204, ../scss/onepage.scss */
#block-cv-experience-professionnelle .timelife-line ::before {
  position: absolute;
  z-index: -1;
  content: '';
  width: 0;
  top: 100px;
  bottom: 100px;
  left: 50px;
  border: 1px solid #546e7a;
}
/* line 216, ../scss/onepage.scss */
#block-cv-experience-professionnelle div.timelife {
  width: 450px;
  margin: auto;
}
/* line 220, ../scss/onepage.scss */
#block-cv-experience-professionnelle div.timelife > article {
  width: 450px;
  height: 200px;
  margin-left: 0;
  display: flex;
  align-items: center;
}
/* line 227, ../scss/onepage.scss */
#block-cv-experience-professionnelle div.timelife > article .timelife-image {
  width: 100px;
  height: 100px;
  background-color: #e2e8eb;
  border: 1px solid #546e7a;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 238, ../scss/onepage.scss */
#block-cv-experience-professionnelle div.timelife > article .timelife-image img {
  margin: auto;
  max-width: 80px;
  max-height: 80px;
}
/* line 245, ../scss/onepage.scss */
#block-cv-experience-professionnelle div.timelife > article .timelife-text {
  width: 300px;
  padding-left: 10px;
  padding-right: 0;
  color: #777777;
}
/* line 251, ../scss/onepage.scss */
#block-cv-experience-professionnelle div.timelife > article .timelife-text h4 {
  margin: 0;
  color: #546e7a;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 258, ../scss/onepage.scss */
#block-cv-experience-professionnelle div.timelife > article .timelife-text .timelife-date {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: #546e7a;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 268, ../scss/onepage.scss */
#block-cv-experience-professionnelle div.timelife.timelife-right > article {
  margin-left: 0;
  flex-direction: row;
}
/* line 272, ../scss/onepage.scss */
#block-cv-experience-professionnelle div.timelife.timelife-right > article .timelife-text {
  padding-left: 10px;
  padding-right: 0;
}
@media (min-width: 768px) {
  /* line 279, ../scss/onepage.scss */
  #block-cv-experience-professionnelle .view-content {
    width: 750px;
    margin: auto;
    position: relative;
  }
  /* line 285, ../scss/onepage.scss */
  #block-cv-experience-professionnelle .timelife-line {
    margin: auto;
    width: 750px;
    position: relative;
  }
  /* line 290, ../scss/onepage.scss */
  #block-cv-experience-professionnelle .timelife-line ::before {
    left: 50%;
  }
  /* line 295, ../scss/onepage.scss */
  #block-cv-experience-professionnelle div.timelife {
    width: 750px;
    margin: auto;
  }
  /* line 299, ../scss/onepage.scss */
  #block-cv-experience-professionnelle div.timelife > article {
    width: 450px;
    margin-left: 300px;
    display: flex;
    align-items: center;
  }
  /* line 305, ../scss/onepage.scss */
  #block-cv-experience-professionnelle div.timelife > article .timelife-image {
    width: 150px;
    height: 150px;
  }
  /* line 309, ../scss/onepage.scss */
  #block-cv-experience-professionnelle div.timelife > article .timelife-image img {
    max-width: 100px;
    max-height: 100px;
  }
  /* line 317, ../scss/onepage.scss */
  #block-cv-experience-professionnelle div.timelife.timelife-right > article {
    margin-left: 0;
    flex-direction: row-reverse;
    text-align: right;
  }
  /* line 322, ../scss/onepage.scss */
  #block-cv-experience-professionnelle div.timelife.timelife-right > article .timelife-text {
    padding-left: 0;
    padding-right: 10px;
  }
}

/* line 331, ../scss/onepage.scss */
#block-cv-formation div.blockblockone > article {
  margin-top: 15px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #eeeeee;
}

/* line 341, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone .views-field-rendered-entity {
  width: 180px;
  height: 180px;
  margin: auto;
  border-radius: 3px;
  padding-top: 10px;
}
/* line 348, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone .views-field-rendered-entity h3 {
  color: #eeeeee;
}
/* line 352, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone .views-field-rendered-entity svg {
  fill: #eeeeee;
}
/* line 357, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone .views-field-view {
  margin-top: 10px;
}
/* line 360, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone .views-field-view .view-content {
  display: flex;
  justify-content: center;
}
/* line 364, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone .views-field-view .view-content > div {
  margin: 3px;
  padding: 3px;
  border: 1px solid;
  border-radius: 3px;
}
/* line 375, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone:nth-child(1) .views-field-rendered-entity {
  background-color: #9ccc65;
}
/* line 379, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone:nth-child(1) .views-field-view .view-content > div {
  color: #9ccc65;
  border-color: #9ccc65;
}
/* line 386, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone:nth-child(2) .views-field-rendered-entity {
  background-color: #26a69a;
}
/* line 390, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone:nth-child(2) .views-field-view .view-content > div {
  color: #26a69a;
  border-color: #26a69a;
}
/* line 397, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone:nth-child(3) .views-field-rendered-entity {
  background-color: #29b6f6;
}
/* line 401, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone:nth-child(3) .views-field-view .view-content > div {
  color: #29b6f6;
  border-color: #29b6f6;
}
/* line 408, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone:nth-child(4) .views-field-rendered-entity {
  background-color: #5c6bc0;
}
/* line 412, ../scss/onepage.scss */
#block-cv-loisirs div.blockblockone:nth-child(4) .views-field-view .view-content > div {
  color: #5c6bc0;
  border-color: #5c6bc0;
}
